.container
	%h1 Welcome User!

	%h2 Create a to do: 
	=form_for @new_task, id:"newTask", remote: true do |nt|
		= nt.label :task_names
		= nt.text_field :task_name
		= nt.submit "ADD"
	%br

	%h3 Open Tasks:
	%table
		%thead
			%th Completed?
			%th Task Name
			%th Available Actions
			%th
		%tbody#help
			-@tasks.each do |t|
				%tr
					%td= check_box_tag "completed", '1', t.completed
					%td= t.task_name
					%td= link_to "Edit", edit_task_path(t)
					%td= link_to "Delete", task_path(t), method: :delete
		%br

/ Modal
#myModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
	.modal-dialog
		.modal-content
			.modal-header
				%button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
				%h4#myModalLabel.modal-title Task Update
			.modal-body
				Test
			.modal-footer
				%button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close
				%button.btn.btn-primary{:type => "button"} Save changes


